version: '3'

services:
  # Django web application
  web:
    container_name: django-nginx-app
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/code
    environment:
      - DEBUG=True  
    command: sh ./entrypoint.sh

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./:/code
      - certbot:/etc/letsencrypt
      - certbot:/var/www/certbot      
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - certbot:/etc/letsencrypt
      - certbot:/var/www/certbot      
    depends_on:
      - web
    command: certonly --webroot -w /var/www/certbot --force-renewal --email email@gmail.com -d mydomain.com --agree-tos

volumes:
  static:
  certbot:
