{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1>LIST OF BOOKS</h1>
{% for i in qs %}
<div>
    <ul>
        <img src="{{ i.image.url }}" width="100" height="100">
        <li>Name: {{ i.name }}</li>
        <li>Description: {{ i.description }}</li>
        <li>Author: {{ i.author }}</li>
        
    </ul>
</div>
{% empty %}
NO DATA
{% endfor %}

<h5>POST A BOOK</h5>
<form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
    <input type="text" name="name" placeholder="name" required>  <br>
    <input type="text" name="author" placeholder="author" required> <br>
    <input type="file" name="image" required> <br>
    <textarea placeholder="description" name="description" required></textarea><br>
    <input type="submit" value="submit">
</form>